h1 {
	margin: 0;
}

input[type=text] {
	outline: none;
}

.body-container {
	margin: 20px auto 0 auto;
	width: 800px;
	padding: 20px 40px;
	background-color: #eaeaea;
	border-left: 10px solid #E8009B;
	border-right: 10px solid #E8009B;
}

.top {
	margin-bottom: 30px;
	font-family: "Verdana";
}

#list-type-container {
	margin-bottom: 5px;
}

#list-type-container input {
	margin: 5px 0;
}

#exclude-url {
	margin-left: 2px;
	width: 270px;
}

#list-header {
	background-color: #E8009B;
	color: white;
	font-weight: bold;
}

#list-items {
	background-color: white;
	max-height: 500px;
	overflow-y: auto;
}

.list-row {
	font-size: 1.2em;
	padding: 3px;
	border-bottom: 1px solid #F0F0F0;
}

.list-row > span {
	display: inline-block;
	vertical-align: middle;
}

.list-chk {
	width: 35px;
}

.list-site {
	width: 540px;
	overflow-x: hidden;
}

.list-type {
	width: 50px;
	text-align: center;
}

.list-date {
	width: 120px;
	text-align: center;
}

#list-container {
	margin: 5px 0;
}

#list-filter-txt {
	width: 230px;
}

.rfloat {
	float: right;
}

.clear {
	clear: both;
}