body {
	width: 325px;
	margin: 0;
	padding: 0;
}

header {
	background-color: #4160DF;
	color: white;
	padding: 15px;
	margin-bottom: 10px;
}

header h1, header h6 {
	font-family: "Verdana";
	text-align: center;
	padding: 0;
	margin: 0;
}

header h1 {
	font-size: 18px;
}

header h6 {
	font-size: 18px;
	font-weight: normal;
	margin-top: 10px;
}

.top {
	margin: 0 10px 15px 10px;
}

#options {
	font-size: 18px;
}

#options > div {
	margin-bottom: 12px;
}

#options label {
	display: block;
	padding-bottom: 5px;
}

#options input, #options select, #hl-preview {
	height: 32px;
	line-height: 32px;
	border-radius: 2px;
	border: 1px solid gray;
}

#options input, #options select {
	padding: 0 5px;
	outline: none;
	font-family: "Verdana";
}

.multi-column > div {
	float: left;
}

.multi-column > div:not(:last-of-type) {
	margin-right: 25px;
}

#hl-preview {
	width: 32px; /* Matching the text input box's height */
	cursor: pointer;
}

#color-picker {
	visibility: hidden;
	position: absolute;
}

.bottom {
}


#status {
	min-height: 24px;
	line-height: 24px;
	font-size: 14px;
	padding: 0 10px;
	margin-bottom: 5px;
	text-align: center;
}

#status div.loading {
	height: 24px;
	background: url("../img/loader.gif");
	background-repeat: no-repeat;
	background-position: center;
}

#status.error {
	background-color: #f2dede;
}

#status.success {
	background-color: #dff0d8;
}

.big-btn {
	background-color: #4160DF;
	color: white;
	width: 100%;
	text-align: center;
	line-height: 32px;
	font-size: 16px;
	cursor: pointer;
	border-radius: 2px;

	-webkit-transition: background-color 0.15s;
}
.big-btn:not(:last-child) {
	margin-bottom: 4px;
}

.big-btn:hover {
	background-color: #324FC7;
}

.full-width {
	width: 100%;
	box-sizing: border-box;
}

.clear {
	clear: both;
}
span.clear {
	display: block;
}