body {
	width: 400px;
	margin: 0;
	padding: 0;
}

.top {
	margin: 0 10px 15px 10px;
}

#options {
	font-size: 18px;
}

#options div {
	margin-bottom: 12px;
}

#options label {
	display: block;
	padding-bottom: 5px;
}

#options input, #options select {
	height: 32px;
	line-height: 32px;
	padding: 0 5px;
	border-radius: 2px;
	border: 1px solid gray;
	outline: none;
	font-family: "Verdana";
}

.bottom {
}


#status {
	min-height: 24px;
	line-height: 24px;
	font-size: 14px;
	padding: 0 10px;
	margin-bottom: 5px;
	text-align: center;
}

#status.error {
	background-color: #f2dede;
}

#status.success {
	background-color: #dff0d8;
}

.big-btn {
	background-color: #E8009B;
	color: white;
	width: 100%;
	text-align: center;
	line-height: 32px;
	font-size: 16px;
	cursor: pointer;
	border-radius: 2px;
	margin-bottom: 2px;
}

.big-btn:hover {
	background-color: #AD0074;
}

.full-width {
	width: 100%;
}